body {
    background-color: #adadad;
    margin: 0;
}
.containers{
    min-height: 100vh; /* FIX agar tetap di tengah */
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-container {
    background: rgba(0, 0, 0, 0.75);
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.btn-register {
    background: #f5c518;
    color: black;
    font-weight: bold;
    border: none;
}
.btn-register:hover {
    background: #d4a30e;
}
.imdb-logo {
    display: block;
    margin: 0 auto 20px;
    width: 80px;
}
.form-control {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
}
a {
    color: #0066c0;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Responsif - Hapus padding & buat layar penuh di mobile */
@media (max-width: 576px) {
    .register-container {
        padding: 0; /* Hapus padding */
        border-radius: 0;
        width: 100vw; /* Pakai full lebar layar */
        height: 100vh; /* Pakai full tinggi layar */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form {
        width: 90%;
    }
}